@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100vh;
  background-size: cover;
  background-color: #131514;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 2560px) {
  body {
    background: url("/images/background.webp");
  }
}

.toast-progress-gray {
  background-color: gray !important;
}

.custom-toast-progress {
  background-color: #4caf50 !important; /* Change to your desired color */
}
